<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infoplus.ezway.EzwayAdmin.mapper.CrossCheckMapper">

    <select id="findByTranId" >
        SELECT transId,selfie_img,result_code FROM tbl_crosscheck_data
        WHERE trans_id = #{transId}
        AND is_latest = 'Y'
    </select>

</mapper>


