<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infoplus.ezway.EzwayAdmin.mapper.FaceMatchMapper">

    <select id="findByTransId" >
        SELECT facematch.trans_id AS transId, crosscheck.selfie_img AS image1, facematch.selfie_img_01 AS image2, facematch.result_code AS result
        FROM tbl_facematch_data facematch INNER JOIN tbl_crosscheck_data crosscheck
        ON facematch.trans_id = crosscheck.trans_id
        WHERE facematch.trans_id = #{transId}
        AND facematch.is_latest = 'Y'
        LIMIT 1
    </select>

</mapper>


