<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infoplus.ezway.EzwayAdmin.mapper.OcrDataMapper">

    <select id="findByTransId" parameterType="string" resultType="com.infoplus.ezway.EzwayAdmin.dto.CommonDTO">
        SELECT trans_id AS transId,
        front_image AS image1,
        back_image AS image2,
        result_code AS result
        FROM tbl_ocr_data
        WHERE trans_id = #{transId}
        AND is_latest = 'Y'
    </select>

    <select id="findByTransId2" parameterType="string" resultType="com.infoplus.ezway.EzwayAdmin.dto.CommonDTO">
        SELECT id_card_type AS idcardType
        address,
        age,
        birthday,
        district,
        doctype,
        ethnicity,
        expiration,
        home_town    AS homeTown,
        id_no        AS idNo,
        issue_at     AS issueAt,
        issue_date   AS issueDate,
        full_name    AS fullName,
        country,
        province,
        religion,
        ward,
        sex,
        create_date  AS createDate,
        update_date  AS updateDate
        FROM tbl_ocr_data
        WHERE trans_id = #{transId}
        AND is_latest = 'Y'
    </select>

</mapper>


